.noto-serif-display {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.secondSection {
    justify-content: center;
    margin: 30vh 0;
  }
  
  .flexBox {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }
  
  .box {
    text-align: center;
    position: relative;
    border-radius: 20px;
    border-color: transparent;
    color: #CC3339;
    background-color: #ffe6e6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 45vh;
    height: 45vh;
    
  }
  .box:hover {
    transform: scale(1.1);
    background-color: #ffe6e6;
  }
  img {
    width: 40vh;
    height: 40vh;
  }

  h1 {
    font-size: 7vh;
    margin: 2vh 0 0 0;
    font-family: "Noto Serif Display";
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(45, 2, 2, 0.5);
  }
  #butterfly{
    margin: 6vh 0 0 0;
  }

  #heart {
    margin: 12vh 0 0 0;
  }