/* Ensure that #root takes the full height */
#root {
  padding: 0px;
  text-align: center;
  height: 100vh; /* Set full height */
}

/* Apply full height to the screen */
.screen {
  margin: 0;
  height: 100vh; /* Ensure the whole screen is covered */
}

/* Style for the WelcomeSection */
.WelcomeSection {
  height: 100vh;
  position: relative;
  background-color: #f9f3dd; /* Light background color */
  overflow: hidden; /* Prevent particles from overflowing */
}

/* Make sure particles take full width and height */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure particles stay in the background */
}

/* Additional styles for the card */
.card {
  padding: 2em;
}

/* Text color for read-the-docs */
.read-the-docs {
  color: #888;
}

