#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.secondSection {
  justify-content: center;
  margin: 30vh 0;
  background-color: yellow;
}

.flexBox {
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: black;
  gap: 5vw;
}

.box {
  text-align: center;
  border-radius: 20px;
  border-color: 20px solid rgb(255, 0, 0);
  color: blue;
  background-color: #FFD2ED;
  box-shadow: 5px;
  padding: 20vh;
}
.box:hover {
  transform: scale(1.1);
  background-color: pink;
}