@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'glorionFont';  /* Custom name for your font */
  src: url('./assets/glorion-demo/GlorionDemo-Bold.otf') format('otf'), /* Link to the font file */
       url('./assets/glorion-demo/GlorionDemo-Medium.otf') format('truetype'),
       url('./assets/glorion-demo/GlorionDemo-Regular.otf') format('truetype');
  font-weight: 400;
  background-color: #f9f3dd /* helped get rid of the white border */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'glorionFont'; 
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}